
div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content {
    background: none repeat scroll 0 0 transparent;
}
div.light_square .pp_content .ppt {
    color: #FFFFFF;
}
div.light_square .pp_contract {
    background: url("../img/colorbox/sprite.png") no-repeat scroll 0 -26px transparent;
    cursor: pointer;
}
div.light_square .pp_contract:hover {
    background: url("../img/colorbox/sprite.png") no-repeat scroll 0 -47px transparent;
    cursor: pointer;
}
div.light_square .pp_close {
    background: url("../img/colorbox/btnClose.jpg") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 23px;
    width: 23px;
}
div.light_square .pp_description {
    margin-right: 85px;
}
div.light_square #pp_full_res .pp_inline {
    color: #FFFFFF;
}
div.light_square .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
}
div.light_square .pp_arrow_previous {
    background: url("../img/colorbox/btnNextPrev.png") no-repeat scroll 0 0 transparent;
}
div.light_square .pp_arrow_next {
    background: url("../img/colorbox/btnNextPrev.png") no-repeat scroll -49px 0 transparent;
}
div.light_square .pp_previous:hover {
    background: url("../img/colorbox/btnPrevious.png") no-repeat scroll left center transparent;
    cursor: pointer;
}
div.light_square .pp_loaderIcon {
    background: url("../img/colorbox/loader.gif") no-repeat scroll center center transparent;
}
div.pp_pic_holder a:focus {
    outline: medium none;
}
div.pp_overlay {
    background: none repeat scroll 0 0 #000000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9500;
}
div.pp_pic_holder {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 10000;
}
.pp_top {
    height: 20px;
    position: relative;
}
* html .pp_top {
    padding: 0 20px;
}
.pp_top .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}
.pp_top .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
}
* html .pp_top .pp_middle {
    left: 0;
    position: static;
}
.pp_top .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.pp_content {
    height: 40px;
    min-width: 40px;
}
* html .pp_content {
    width: 40px;
}
.pp_fade {
    display: none;
}
.pp_content_container {
    position: relative;
    text-align: left;
    width: 100%;
}
.pp_content_container .pp_left {
    padding-left: 20px;
}
.pp_content_container .pp_right {
    padding-right: 20px;
}
.pp_content_container .pp_details {
    background: none repeat scroll 0 0 #000000;
}
.pp_description {
    display: none;
    margin: 0;
}
.pp_social {
    float: left;
    margin: 0;
}
.pp_social .facebook {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 55px;
}
.pp_social .twitter {
    float: left;
}
.pp_nav {
    clear: right;
    color: #FFFFFF;
}
.pp_nav p {
    position: absolute;
    right: 25px;
    text-align: center;
    top: -20px;
    white-space: nowrap;
}
.pp_nav .pp_play {
    display: none;
}
.pp_nav .pp_pause {
    display: none;
}
a.pp_arrow_previous, a.pp_arrow_next {
    display: block;
    height: 94px;
    margin: -47px 0 0;
    overflow: hidden;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    width: 49px;
}
a.pp_arrow_previous {
    left: 0;
}
a.pp_arrow_next {
    right: 0;
}
.pp_hoverContainer {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.pp_gallery {
    display: none;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 0;
}
.pp_gallery div {
    float: left;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: relative;
    width: 0;
}
.pp_gallery ul {
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.pp_gallery ul a {
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    float: left;
    height: 33px;
    overflow: hidden;
}
.pp_gallery ul a:hover, .pp_gallery li.selected a {
    border-color: #FFFFFF;
}
.pp_gallery ul a img {
    border: 0 none;
}
.pp_gallery li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
}
.pp_gallery li.default a {
    background: url("../img/colorbox/default_thumbnail.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 33px;
    width: 50px;
}
.pp_gallery li.default a img {
    display: none;
}
.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next {
    margin-top: 7px !important;
}
a.pp_next {
    display: block;
    float: right;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}
a.pp_previous {
    display: block;
    float: left;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}
a.pp_expand, a.pp_contract {
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 30px;
    text-indent: -10000px;
    top: 10px;
    width: 20px;
    z-index: 20000;
}
a.pp_close {
    display: block;
    position: absolute;
    right: 35px;
    text-indent: -99999px;
    top: 25px;
    z-index: 999999;
}
.pp_bottom {
    height: 20px;
    position: relative;
}
* html .pp_bottom {
    padding: 0 20px;
}
.pp_bottom .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}
.pp_bottom .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
}
* html .pp_bottom .pp_middle {
    left: 0;
    position: static;
}
.pp_bottom .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.pp_loaderIcon {
    display: block;
    height: 24px;
    left: 50%;
    margin: -12px 0 0 -12px;
    position: absolute;
    top: 50%;
    width: 24px;
}
#pp_full_res {
    line-height: 1 !important;
}
#pp_full_res .pp_inline {
    text-align: left;
}
#pp_full_res .pp_inline p {
    margin: 0 0 15px;
}
div.ppt {
    color: #FFFFFF;
    display: none;
    font-size: 17px;
    margin: 0 0 5px 15px;
    z-index: 9999;
}