@charset "utf-8";
/* CSS Document */
/* Technology Template */
.Wrap .midWrap .mainContent .Technology {
    line-height : 2em;
    color       : #3C3C3C;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList {
    margin   : 10px 0;
    padding  : 195px 0 0 0;
    width    : 320px;
    float    : left;
    position : relative;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyListDouble {
    padding : 390px 0 0 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyListCenter {
    margin : 10px;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title {
    padding    : 25px 0 0 0;
    background : url(../img/cars/technology.title.png) no-repeat 0 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title01 {
    background-position : -1280px 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title02 {
    background-position : 0 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title03 {
    background-position : -640px 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title04 {
    background-position : -320px 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title05 {
    background-position : -960px 0;
}


.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList div.media {
    top      : 0;
    left     : 0;
    position : absolute;
}

/* Technology Think */
.Wrap .midWrap .mainContent .Technology .ContData {
    position : relative;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL {
    position   : relative;
    background : url(../img/technology/technology.think.image.jpg) no-repeat center center;
    width      : 980px;
    height     : 550px;
    overflow   : hidden;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link {
    position    : absolute;
    width       : 160px;
    height      : 85px;
    text-indent : -99999px;
    cursor      : pointer;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link01 {
    top  : 70px;
    left : 195px;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link02 {
    top   : 70px;
    right : 190px;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link03 {
    top   : 175px;
    left  : 185px;
    width : 115px;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link04 {
    top   : 175px;
    right : 180px;
    width : 115px;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link05 {
    top  : 280px;
    left : 195px;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link06 {
    top   : 280px;
    right : 190px;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data {
    top        : 0;
    left       : 0;
    padding    : 300px 50px 50px 50px;
    position   : absolute;
    width      : 880px;
    height     : 200px;
    background : url(../img/BgMask.png);
    display    : none;
    color      : #FFF;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .Section {
    bottom   : 50px;
    left     : 50px;
    width    : 880px;
    position : absolute;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.dateBoth .Section {
    bottom   : 15px;
    width    : 880px;
    position : absolute;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media {
    top      : 50px;
    left     : 50px;
    width    : 880px;
    height   : 200px;
    position : absolute;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.dateBoth .media {
    top      : 15px;
    left     : 175px;
    width    : 630px;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.dateBoth .media li {
    margin : 5px 0;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media li.left {
    float : left;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media li.right {
    float : right;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media li img {
    border : 1px solid #4e84a2;
}

.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.btn {
    top         : 0;
    right       : 0;
    position    : absolute;
    width       : 23px;
    height      : 23px;
    background  : url(../img/colorbox/btnClose.jpg) no-repeat center center;
    text-indent : -99999px;
    cursor      : pointer;
    display     : none;
}

/* Technology ThinkTouch */
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchInfo {
    margin   : 0 0 -15px 0;
    left     : 15px;
    width    : 950px;
    position : relative;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchMedia {
    margin   : 0 15px 0 0;
    float    : right;
    width    : 485px;
    overflow : hidden;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList {
    margin   : 50px 0 0 0;
    position : relative;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchListMargin {
    margin  : 50px 15px 0 15px;
    padding : 275px 0 0 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchListHeight {
    padding : 435px 0 0 0;
}


.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList .Section {
    display     : block;
    line-height : 1.8em;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList .Section h5 {
    font-size      : 12px;
    /*letter-spacing : 1px;*/
    color          : #00a5f1;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList .Section p {
    margin  : 0;
    padding : 0;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media {
    top      : 0;
    left     : 0;
    width    : 100%;
    position : absolute;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media span {
    display  : block;
    height   : 275px;
    overflow : hidden;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchListHeight div.media span {
    display  : block;
    height   : 435px;
    overflow : hidden;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media span.left {
    float : left;
}

.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media span.right {
    float : right;
}