
@charset "utf-8";
html, body {
    background: none repeat scroll 0 0 #E4E4E4;
    font: 12px/20px "Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
    padding: 0 0 42px;
}
a, a:hover {
    text-decoration: none;
}
.both {
    clear: both;
    height: auto;
    overflow: hidden;
    position: relative;
}
.Wrap {
}
.Wrap span.ENFont {
    font-size: 10px;
    line-height: 10px;
    padding: 0 2px;
    position: relative;
    top: -6px;
}
.Wrap .Header {
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.Wrap .Header .topbar {
    background: url("../img/headerBG.png") repeat-x scroll 0 0 transparent;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    text-align: right;
}
.Wrap .Header .topbar li {
    display: inline-block;
    margin: 0 6px 0 9px;
}
.Wrap .Header .topbar li a {
    color: #707070;
    display: block;
}
.Wrap .Header .topbar li.activite a {
    color: #0083C9;
}
.Wrap .HeaderSlide {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 77px 0 0;
    text-align: center;
}
.Wrap .HeaderSlide .SlideFrame {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 560px;
    overflow: hidden;
    position: relative;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide {
    height: 100%;
    position: relative;
    width: 100%;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideList {
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideList01 img {
    display: block;
    height: 560px;
    left: 50%;
    margin: 0 0 0 -1200px;
    max-width: none;
    position: absolute;
    width: 2400px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideList04 .inside {
    background: url("../photo/sliderInsideBG.gif") no-repeat scroll 0 center transparent;
    display: block;
    margin: 10px auto;
    position: relative;
    text-align: center;
    width: 716px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideList04 .inside:before, .Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideList04 .inside .before {
    background: url("../photo/sliderInside.png") no-repeat scroll center 0 transparent;
    content: " ";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 716px;
    z-index: 10;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideList04 .inside:after, .Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideList04 .inside .after {
    background: url("../photo/sliderInside.png") no-repeat scroll center -15px transparent;
    bottom: -5px;
    content: " ";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    width: 716px;
    z-index: 10;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab {
    padding: 40px 0 0;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab {
    margin: 0 auto 5px;
    text-align: right;
    width: 973px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabList {
    background: url("../img/SlideListTab.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 119px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad {
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    height: 31px;
    line-height: 31px;
    position: relative;
    text-align: center;
    width: 119px;
    z-index: 3;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad a.download, .Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad span.TabName {
    background: url("../img/SlideListTab.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 15px;
    height: 31px;
    line-height: 31px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.active, .Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad span.active {
    background-position: 0 -31px;
    cursor: default;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad a:hover {
    background-position: 0 -31px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad ul {
    background: none repeat scroll 0 0 #282828;
    border: 1px solid #666666;
    display: none;
    font-size: 12px;
    left: 0;
    line-height: 30px;
    margin: -1px 2px 0;
    padding: 5px;
    position: absolute;
    width: 103px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad ul li {
    border-bottom: 1px solid #CCCCCC;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad ul li a {
    color: #FFFFFF;
    display: block;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideListTab li.SlideTabDownLoad ul li a:hover {
    color: #00A5F1;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent {
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 980px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList li.list {
    float: left;
    height: 155px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 265px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList li.listL {
    height: 280px;
    width: 480px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList ul.SlideTabMediaUL {
    margin: 0 1px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList ul.SlideTabMediaUL li.list {
    float: left;
    height: 185px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 316px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList li.list img {
    width: 100%;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList li.list .active {
    background: url("../img/BgMask.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList li.list .active .Article {
    bottom: 0;
    display: block;
    left: 0;
    /*letter-spacing: 0.1em;*/
    position: absolute;
    width: 100%;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList li.list .active .Article .title {
    font-size: 17px;
    font-weight: normal;
    margin: 0 5px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList li.list .active .Article .text {
    background: url("../img/media.dowmload.icon.gif") no-repeat scroll right bottom transparent;
    margin: 0 5px 5px;
    padding: 0 20px 0 0;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList div.JQpaper {
    bottom: 0;
    margin: 0 5px;
    position: absolute;
    right: 0;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList div.JQpaper ul li {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #D1D1D1;
    color: #8A8A8A;
    font-size: 15px;
    height: 153px;
    line-height: 153px;
    margin: 0;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: 123px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList div.JQpaper ul li span.qp_pagenumber {
    color: #3D3D3D;
    font-weight: bold;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList div.JQpaper ul li span.qp_btn {
    background: url("../img/SlideListTab-arrow.png") no-repeat scroll 0 center transparent;
    cursor: pointer;
    float: left;
    height: 100%;
    text-indent: -99999px;
    width: 15px;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList div.JQpaper ul li span.qp_prev {
    background-position: -15px center;
    float: right;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList div.JQpaper ul li span.qp_disabled {
    background: none repeat scroll 0 0 transparent;
    cursor: default;
}
.Wrap .HeaderSlide .SlideFrame ul.Slide li.SlideTab ul.SlideTabContent li.SlideTabContentList div.JQpaper ul li span.qp_counter {
    float: left;
    width: 93px;
}
.Wrap .HeaderSlide .SlideFrame ul.control {
    bottom: 15px;
    display: none;
    height: 5px;
    left: 50%;
    margin: 0 0 0 -135px;
    position: absolute;
}
.Wrap .HeaderSlide .SlideFrame ul.control li {
    background: none repeat scroll 0 0 #A2A2A2;
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 5px;
    line-height: 0;
    margin: 0 5px;
    padding: 0;
    width: 80px;
}
.Wrap .HeaderSlide .SlideFrame ul.control li.current {
    background: none repeat scroll 0 0 #0083C9;
}
.Wrap .Header .Nav {
    background: url("/site/img/headerBG.png") repeat-x scroll 0 -25px transparent;
    display: block;
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    z-index: 10;
}
.Wrap .Header .Nav h1 {
    float: left;
    margin: 0 0 0 25px;
}
.Wrap .Header .Nav h1 a {
    background: url("/site/img/luxgenLogo.png") no-repeat scroll center center transparent;
    display: block;
    text-indent: -99999px;
    width: 168px;
}
.Wrap .Header .Nav .kindsNav {
    float: right;
    font-size: 15px;
    font-weight: bold;
}
.Wrap .Header .Nav .kindsNav li {
    display: inline-block;
    margin: 0 13px 0 16px;
}
.Wrap .Header .Nav .kindsNav li a {
    color: #3C3C3C;
    display: block;
}
.Wrap .Header .Nav .kindsNav li.activte a, .Wrap .Header .Nav .kindsNav li a:hover {
    color: #0083C9;
}
.Wrap .midWrap .subNav {
    background: url("/site/img/headerBG.png") repeat-x scroll 0 -77px transparent;
    left: 0;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 10;
}
.Wrap .midWrap .HeaderFixed, .Wrap .midWrap .subNavFixed, .Wrap .midWrap .HeaderFixedTop {
    left: 0;
    position: fixed;
    top: 77px;
    width: 100%;
}
.Wrap .midWrap .subNav .subNavUL {
    float: right;
    position: relative;
    z-index: 10;
}
.Wrap .midWrap .subNav li {
    background: url("/site/img/subnavLine.jpg") no-repeat scroll left center transparent;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 13px;
    line-height: 30px;
    padding: 2px 10px;
}
.Wrap .midWrap .subNav li.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #3C3C3C;
    cursor: default;
}
.Wrap .midWrap .subNav li a {
    color: #FFFFFF;
}
.Wrap .midWrap .subNav li.selected a {
    color: #3C3C3C;
    cursor: default;
}
.Wrap .midWrap .subNav span.subNavMask {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    left: 0;
    margin: 0 0 0 1px;
    padding: 0 10px;
    position: absolute;
    top: 0;
}
.Wrap .midWrap {
    line-height: 20px;
    position: relative;
}
.Wrap .midWrap .mainContent {
    font-size: 13px;
    line-height: 1.8em;
    margin: 0 auto;
    position: relative;
    top: 35px;
    width: 980px;
}
.Wrap .midWrap .mainContent div.cont {
    font-family: "Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
    margin: 0 0 15px;
    padding: 10px 0 0;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame {
    border-bottom: 1px solid #A2A2A2;
    line-height: 2em;
    margin: 0 0 10px;
    position: relative;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame h3 {
    color: #666666;
    float: left;
    font-size: 18px;
    margin: 0 0 5px;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame span.tools {
    float: right;
    margin: 5px 5px 0 0;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame span.tools a {
    background: url("/site/img/title-icon.png") no-repeat scroll 0 center transparent;
    display: inline-block;
    height: 15px;
    margin: 0 2px 0 5px;
    text-indent: -99999px;
    width: 15px;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame span.tools a.FB {
    display: none;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame span.tools a.print {
    background-position: -15px center;
    display: none;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame span.tools a.fontDecrease {
    background-position: -30px center;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame span.tools a.fontReset {
    background-position: -45px center;
}
.Wrap .midWrap .mainContent div.cont li.titleFrame span.tools a.fontIncrease {
    background-position: -60px center;
}
.Wrap .midWrap .mainContent div.cont .videoFrame {
    margin: 0 0 15px;
}
.Wrap .midWrap .mainContent div.cont li.ContData h4 {
    color: #00A5F1;
    font-size: 16px;
    /*letter-spacing: 1px;*/
    margin: 5px 0 0;
}
.Wrap .midWrap .mainContent div.cont li.ContData p {
    /*letter-spacing: 1px;*/
    padding: 0 0 15px;
}
.Wrap .midWrap .mainContent div.cont li.ContData div.QRCode {
    display: none;
    margin: 25px 0 0;
}
.Wrap .midWrap .mainContent div.cont li.ContData div.QRCode li {
    float: left;
    line-height: 20px;
    margin: 0 5px 0 0;
}
.Wrap .midWrap .mainContent div.cont li.ContData div.QRCode li.info {
    padding: 16px 0 0;
}
.Wrap .midWrap .mainContent .topBtn {
    border-left: 1px solid #A2A2A2;
    display: none;
    height: 130px;
    margin: -65px 0 0;
    position: fixed;
    right: 0;
    text-indent: -99999px;
    top: 50%;
    width: 28px;
    z-index: 1;
}
.Wrap .midWrap .mainContent .topBtn span {
    background: url("/site/img/btnTop.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: block;
    height: 51px;
    left: 0;
    margin: -25px 0 0;
    position: relative;
    top: 50%;
    width: 28px;
}
.Wrap .FooterFixed {
    bottom: 0;
    position: fixed;
}
.Wrap .FooterAbsolute {
    bottom: 0;
    position: absolute;
}
.Wrap .Footer {
    background: url("/site/img/headerBG.png") repeat-x scroll left -111px transparent;
    color: #FFFFFF;
    height: 35px;
    line-height: 35px;
    padding: 2px 0 0;
    width: 100%;
    z-index: 10;
}
.Wrap .Footer ul.FootNav {
    float: left;
    padding: 0 0 0 5px;
    position: relative;
    z-index: 5;
}
.Wrap .Footer ul.siteMap {
    float: right;
    padding: 0 5px 0 0;
}
.Wrap .Footer ul.FootSubNav {
    background: url("/site/img/BgMask.png") repeat scroll 0 0 transparent;
    bottom: 56px;
    left: 0;
    line-height: 20px;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.Wrap .Footer li {
    float: left;
}
.Wrap .Footer ul.FootNav li {
    margin: 0 10px;
    text-indent: -99999px;
}
.Wrap .Footer ul.FootNav li a {
    background: url("/site/img/footerNav.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 35px;
    width: 110px;
}
.Wrap .Footer ul.FootNav li.FootNavLi02 a {
    background-position: 0 -35px;
    width: 120px;
}
.Wrap .Footer ul.FootNav li.FootNavLi03 a {
    background-position: 0 -70px;
    width: 80px;
}
.Wrap .Footer ul.FootNav li.FootNavLi04 a {
    background-position: 0 -105px;
    width: 90px;
}
.Wrap .Footer ul.FootNav li.FootNavLi05 a {
    background-position: 0 -140px;
    width: 75px;
}
.Wrap .Footer ul.siteMap li {
    margin: 0 9px;
}
.Wrap .Footer ul.siteMap li a {
    color: #707070;
    display: block;
    font-size: 15px;
}
span.mediaHref {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 5px 0 0;
    padding: 0 3px 1px;
}
span.mediaHrefBK {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 5px 0 0;
    padding: 0 3px 1px;
}
.Wrap .youtubeMediaList, .Wrap .youtubeMediaTanList {
    position: relative;
}
.Wrap .youtubeMediaList img {
    max-width: 100%;
}
.Wrap .youtubeMediaList div.youtubeMedia {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
.Wrap .youtubeMediaList span.playMask {
    background: url("/site/img/play.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.Wrap .youtubeMediaList span.playMaskHover {
    background: url("/site/img/play_hover.png") no-repeat scroll center center transparent;
}
.Wrap .midWrap .mainContent div.cont li.ContData ul.technologyUL li.technologyList .youtubeMediaList p {
    background: url("/site/img/grayGradient.png") repeat-y scroll 0 0 transparent;
    color: #FFFFFF;
    margin: -23px 0 0;
    padding: 0 0 0 5px;
    position: relative;
    z-index: 1;
}